/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/.env.*
!/backend/.env.example
/backend/storage/*.key
/backend/storage/logs/*.log
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/testing/*
/backend/storage/framework/views/*
/backend/bootstrap/cache/*.php
/backend/database/database.sqlite
/backend/public/hot
/backend/public/storage
/backend/.phpunit.cache/

/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.*

.DS_Store
Thumbs.db
